{% extends "base.html.twig" %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
     <link rel="stylesheet" href="{{ asset('css/boostrap.css') }}"/>
 {% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>
    <br><br>

    {{ form_start(formArticle) }}
    {{ form_row(formArticle.nom) }}
    {{ form_row(formArticle.categorie) }}
    {{ form_row(formArticle.date) }}
    {{ form_row(formArticle.nombre) }}
    {{ form_row(formArticle.commentaire) }}

    <input type="submit" value="Enregistrer un nouveau article" />

    {{ form_end(formArticle) }}
{% endblock %}
