{% extends "base.html.twig" %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
     <link rel="stylesheet" href="{{ asset('css/boostrap.css') }}"/>
 {% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>
    <br><br>
<fieldset name="formulaire">
    {{ form_start(formArticle) }}<br>
    {{ form_row(formArticle.nom) }}<br>
    {{ form_row(formArticle.categorie) }}<br>
    {{ form_row(formArticle.date) }}<br>
    {{ form_row(formArticle.nombre) }}<br>
    {{ form_row(formArticle.commentaire) }}<br>

    <input type="submit" value="Enregistrer un article" />

    {{ form_end(formArticle) }}

</fieldset>

{% endblock %}
